{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

{% for element in movies.results %}
<p style="font-size:48px;"> <strong>{{element.original_title}}</strong> </p>

    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample{{loop.index}}" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{loop.index}}">Overview</a>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapse{{loop.index}}" aria-expanded="false" aria-controls="multiCollapse{{loop.index}}">Release</button>
    </p>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample{{loop.index}}">
          <div class="card card-body">

              {{element.overview}}

          </div>
        </div>
          <img style="float: left;" src="{{'https://image.tmdb.org/t/p/w400'+element.poster_path}}"  >
      </div>
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapse{{loop.index}}">
          <div class="card card-body">
              {{element.release_date}}
          </div>
        </div>
      </div>

    </div>
{%endfor%}
</body>
</html>

{% endblock %}