{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="d-flex align-items-flex-start">
            <div class="col-4">
                <div class="container">
                <h5 class="title">{{link_overview.title}}</h5>
                <img src="{{pos}}">
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="card" >
                        <div class="card-body">
                        <p class="card-text">
                            {{link_overview.overview}}
                        </p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-deck">
    {%for a in range(cast_length)%}
    <div class="card" style="min-width: 18rem;">
          <img src="{{pic_list[a]}}" class="card-img-top" alt="...">
          <div class="card-body">
                <h5 class="card-title">{{name_list[a]}}</h5>
                <p class="card-text">Character: {{role_list[a]}}</p>
          </div>
     </div>
    {%endfor%}
</div>

</body>
</html>

{% endblock %}